<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>All Uganda</title>
	<link rel="stylesheet" type="text/css" href="All_Uganda.css">
</head>
<body>
	<h1 id="H1">All Uganda</h1>
		<div id="cat_list">
			<h2>Categories</h2>
			{% for cat in cats %}
				<div>
					<li>{{ cat_name }}</li><br>
				</div>
			{% endfor %}
		</div>

		<div id="Brief">
		<h2><sup>Brief</sup>History</h2>
			<p><em>Uganda</em> is said to be one of the most beautiful countries in Africa with jaw dropping natural scenery, some of the friendliest people you could hope to meet let alone the great white-water rafting at the source of River Nile.<br>
			The History of Uganda is mostly understood in two eras.<br>
			That is to say the pre and post independence.<br>
			Before independence, Uganda was a prosperous country whose natural beauty led to it being reffered to as "Pearl of Africa" by Winston Churchill... <span><a href="https://www.gou.go.ug/about-uganda/sector/history" target="_blank">More</a> </span><br><br>
			For Travellers, all what that means is that Uganda is a safe and friendly country to visit.

			</p>
		</div>
</body>
</html>				